//Green
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

//Yellow
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-yellow-dark: #cc7a00;
$color-yellow-light: #cf7a1f;

//Blues
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-blue-light: #008fb3;
$color-blue-dark: #005266;
$color-iceblue-dark: #0055ff;
$color-iceblue-light: #80aaff;

//Purples
$color-purple-light: #9933ff;
$color-purple-dark: #6600cc;
$color-greypurple-dark: #47476b;
$color-greypurple-light: #9494b8;

//Pink
$color-pink-light: #ff66a3;
$color-pink-dark: #e6005c;

//Greyscale
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

//Font
$default-font-size: 1.6rem;

//Grid Variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
